<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>19F101</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Send to x3 note</string>
	<key>CFBundleExecutable</key>
	<string>CaptureActionExtension</string>
	<key>CFBundleIdentifier</key>
	<string>maccatalyst.com.wod.x3note.CaptureActionExtension</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CaptureActionExtension</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>151</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11E608c</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>19E258</string>
	<key>DTSDKName</key>
	<string>macosx10.15</string>
	<key>DTXcode</key>
	<string>1150</string>
	<key>DTXcodeBuild</key>
	<string>11E608c</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionActivationRule</key>
			<string>
                SUBQUERY (
                    extensionItems,
                    $extensionItem,
                    SUBQUERY (
                        $extensionItem.attachments,
                        $attachment,
                        (
                        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.image" ||
                        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.movie" ||
                        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.audio" ||
                        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.url" ||
                        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.text" ||
                        ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "com.apple.property-list"
                        )
                    ).@count == $extensionItem.attachments.@count
                ).@count &gt;= 1
            </string>
			<key>NSExtensionJavaScriptPreprocessingFile</key>
			<string>Action</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.services</string>
		<key>NSExtensionPrincipalClass</key>
		<string>CaptureActionExtension.ActionRequestHandler</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
</dict>
</plist>
